<!doctype html>
<html lang="pl">
<head>
    <script src="/scripts/jsPDF/jspdf.min.js"></script>
    <!--<script src="/scripts/jsPDF/jspdf.customfonts.min.js"></script>-->
    <!--<script src="/scripts/jsPDF/default_vfs.js"></script>-->
</head>
<body style="margin: 0; height: 100vh;">
    <iframe type="application/pdf" width="100%" height="100%" style="margin-bottom: -3px" frameborder="0" style="position:relative;z-index:999"></iframe>
    <span id="name" style="display:none"><%= customer.name + " " + customer.surname %></span>
    <span id="image" style="display:none"><%= customer.image %></span>
    <span id="phone" style="display:none"><%= customer.phone %></span>
    <span id="address" style="display:none"><%= customer.address %></span>
    <span id="birthday" style="display:none"><%= customer.birthday %></span>
    <span id="mail" style="display:none"><%= customer.mail %></span>
    <span id="date" style="display:none"><%= customer.nowDate %></span>
    <span id="id" style="display:none"><%= customer.id %></span>
    <script src="/scripts/declarationPrint.js"></script>
</body>
</html>