<!doctype html>
<html lang="pl">
<head>
    <% include ../partials/head %> 
    <% include ../partials/cssPanels %>
    <link rel="stylesheet" href="/stylesheets/bootstrap3-wysihtml5.min.css">
</head>
<body class="hold-transition skin-yellow sidebar-mini wysihtml5-supported">
<div class="wrapper">

  <% include ../partials/customerPanelTopLeft %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Strona główna
      </h1>
      <ol class="breadcrumb">
        <li><a href="/customer/panel"><i class="fa fa-dashboard"></i> Panel zawodnika</a></li>
        <li class="active">Strona główna</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-sm-6">
          <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Aktywny karnet</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
              <% if (typeof customer.activePackage == 'undefined' || customer.activePackage.length == 0/*!(Object.keys(customer.activePackage).length === 0 && customer.activePackage.constructor === Object)*/) {%>
                <h4>Brak aktywnego karnetu!</h4>
                <hr>
              <% }else{ %>
              <% customer.activePackage.forEach(package => { %>
                <h3><%= package.name %></h3>
                <p class="black"><%= package.timeLimit == 0 ? "Bez limitu czasowego" : "Obowiązuje do: "  + package.endDate %></p>
                <hr>
              <% }); %>
              <% } %>
              <a href="/customer/package/buy" class="btn btn-primary pull-right">Kup karnet</a>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- ./col -->
        <!--<div class="col-sm-6">-->
        <!--  <div class="box box-danger box-solid">-->
        <!--    <div class="box-header with-border">-->
        <!--      <h3 class="box-title">Aktywny challenge</h3>-->

        <!--      <div class="box-tools pull-right">-->
        <!--        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
        <!--        </button>-->
        <!--      </div>-->
              <!-- /.box-tools -->
        <!--    </div>-->
            <!-- /.box-header -->
        <!--    <div class="box-body" style="">-->
        <!--      nazwa challenga, do kiedy-->
        <!--    </div>-->
            <!-- /.box-body -->
        <!--  </div>-->
        <!--  </div>-->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#upcoming" data-toggle="tab">Nadchodzący</a></li>
              <li><a href="#last" data-toggle="tab">Ostatni</a></li>
              <li class="pull-left header"><i class="fa fa-bicycle"></i> Trening</li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="upcoming">
                <% if(!customer.training.upcoming) { %>
                <p class="black">Brak nadchodzących treningów!</p>
                <% }else{ %>
                <p class="pull-right black"><%= customer.training.upcoming.trainingDate %></p>
                <h4><%= customer.training.upcoming.trainingType %></h4>
                <% } %>
              </div>
              <div class="tab-pane" id="last">
                <% if(!customer.training.last) { %>
                <p class="black">Wygląda na to, że nie było Cię jeszcze na żadnym treningu! Zmień to jak najszybciej :)</p>
                <% }else{ %>
                <p class="pull-right black"><%= customer.training.last.trainingDate %></p>
                <h4><%= customer.training.last.trainingType %></h4>
                <% } %>
              </div>
            </div>
          </div>
          <!-- /.nav-tabs-custom -->

          <!-- quick email widget -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>

              <h3 class="box-title">Szybki kontakt z klubem</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                        title="Remove">
                  <i class="fa fa-minus"></i></button>
              </div>
              <!-- /. tools -->
            </div>
            <div class="box-body">
              <form action="/mail" method="post">
                <div class="form-group hidden">
                  <input type="email" class="form-control" name="mail" placeholder="Email to:" value="<%= //customer.club.mail %>" hidden="true">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" placeholder="Temat">
                </div>
                <div>
                  <textarea class="textarea" name="message" placeholder="Wiadomość"
                            style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </div>
              </form>
            </div>
            <div class="box-footer clearfix">
              <button type="button" class="pull-right btn btn-default" id="sendEmail">Wyślij
                <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">
          <!-- Calendar -->
          <div class="box box-solid box-warning ">
            <div class="box-header">
              <i class="fa fa-calendar"></i>

              <h3 class="box-title">Nadchodzące wydarzenia</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-warning btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!--The calendar -->
              <div style="width: 100%">
                <% if (typeof upcomingEvents !== 'undefined' && upcomingEvents.length > 0) { %>
                  <% upcomingEvents.forEach((event, i, events) => { %>
                    <p class="pull-right black"><%= event.startDate %></p>
                    <h4><%= event.name %></h4>
                    <% if (i != events.length - 1) { %>
                    <hr>
                    <% } %>
                  <% }) %>
                <% }else{ %>
                  <p class="black">Brak nadchodzących wydarzeń!</p>
                <% } %>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include ../partials/ciekawostki %>
</div>
<% include ../partials/footerBts3 %>
<% include ../partials/scripts %>
<script src="/scripts/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/scripts/adminlte.min.js"></script>
<script src="/scripts/panel.js"></script>
</body>
</html>