<!doctype html>
<html lang="pl">
<head>
    <% include ../partials/head %> 
    <% include ../partials/cssPanels %>
</head>
<body class="hold-transition skin-yellow sidebar-mini wysihtml5-supported">
<div class="wrapper">
    
    <% include ../partials/customerPanelTopLeft %>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Profil zawodnika
      </h1>
      <ol class="breadcrumb">
        <li><a href="/customer/panel"><i class="fa fa-user"></i> Panel zawodnika</a></li>
        <li class="active">Profil</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-3">
            <div class="box box-warning">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="<%= customer.image %>" alt="User profile picture">

              <h3 class="profile-username text-center"><%= customer.name + " " + customer.surname %></h3>

              <!--<p class="text-muted text-center">poziom członkostwa</p>-->

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Członek od</b> <a class="pull-right"><%= customer.joinDate %></a>
                </li>
                <!--<li class="list-group-item">-->
                <!--  <b>Liczba pkt</b> <a class="pull-right">543</a>-->
                <!--</li>-->
              </ul>

              <a href="/customer/profile/edit" class="btn btn-primary btn-block"><b>Edytuj dane</b></a>
              <a href="/customer/addPhoto" class="btn btn-primary btn-block"><b>Zmień zdjęcie profilowe</b></a>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-9">
            <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Dane</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <p class="black">
                Imię
                <span class="tab"><strong><%= customer.name %></strong></span>
              </p>
              
            <p class="black">
                  Nazwisko
                  <span class="tab"><strong><%= customer.surname %></strong></span>
                </p>
                
            <p class="black">
                  Płeć
                  <span class="tab"><strong><%= customer.gender %></strong></span>
                </p>
                
            <p class="black">
                  Telefon
                  <span class="tab"><strong><%= customer.phone %></strong></span>
                </p>
                
            <p class="black">
                  Adres korespondencji
                  <span class="tab"><strong><%= customer.address %></strong></span>
                </p>
                
            <p class="black">
                  Data urodzenia
                  <span class="tab"><strong><%= customer.birthday %></strong></span>
                </p>
                
                
            </div>
            <!-- /.box-body -->
          </div>  
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include ../partials/ciekawostki %>
</div>
<% include ../partials/footerBts3 %>
<% include ../partials/scripts %>
<script src="/scripts/adminlte.min.js"></script>
</body>
</html>